.yellow {
  color: #ffe404; }

.white {
  color: #fff; }

.dark {
  color: #333333; }

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+10,38dbf1+25,fefbce+47 */
  background: #fefbce -webkit-gradient(linear, left top, left bottom, color-stop(10%, #018db1), color-stop(25%, #38dbf1), color-stop(47%, #fefbce)) no-repeat;
  background: #fefbce -webkit-linear-gradient(top, #018db1 10%, #38dbf1 25%, #fefbce 47%) no-repeat;
  background: #fefbce linear-gradient(to bottom, #018db1 10%, #38dbf1 25%, #fefbce 47%) no-repeat;
  font: italic 20px 'TitilliumText22LRegular', sans-serif; }

.logo-all,
.logo,
.logo-info,
.main > li {
  float: left; }

.top-menu {
  float: right; }

.top-navbar {
  margin-top: 30px; }
  .top-navbar p {
    margin: 0;
    padding: 0; }

.logo {
  font: bold  90px 'TitilliumText22LRegular', sans-serif;
  background-color: #00CCF6;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 0 26px; }

.logo-info {
  margin: 5px 0 5px 10px; }
  .logo-info p {
    font-style: normal; }
  .logo-info-header {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    color: #00CCF6; }
  .logo-info-text.white {
    font-size: 16px;
    font-weight: bold; }
  .logo-info-text {
    font-size: 15px; }
  .logo-info-text span {
    font-weight: bold; }

.top-menu ul,
.pagination-pages {
  list-style: none;
  margin: 0;
  padding: 0; }

.main > li {
  position: relative; }

.main > li > a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  padding: 23px 15px 22px; }

.main > .current-menu-item > a,
.main > li > a:hover {
  color: #ffe404;
  border-bottom: 4px solid #ffe404; }

.sub-menu {
  position: absolute;
  top: 48px;
  width: 190px;
  display: none;
  z-index: 99; }
  .sub-menu a {
    padding: 8px 18px 8px 15px;
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    text-transform: none;
    background: #d8edf4;
    border-bottom: 1px solid #cbdfe6;
    color: #019ac1;
    display: block;
    line-height: 15px; }
    .sub-menu a:hover {
      color: #3c4349;
      text-decoration: none;
      background-color: #eee; }

.menu-item-has-children:hover .sub-menu {
  display: block; }

.content {
  background-color: #fff; }

.content.home-page {
  margin-top: 30px; }

.content,
.footer-top,
.footer-bottom {
  -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.75);
  padding: 20px 25px; }

.info-img,
.info-text {
  float: left; }

.info-img {
  margin-right: 20px; }

.info-text {
  width: 65%; }
  .info-text span {
    color: #929292; }

.info-button {
  float: right; }
  .info-button .fa {
    margin-left: 5px; }

.button {
  color: #838889;
  background-color: #eee;
  font: 18px 'TitilliumText22LMedium', sans-serif;
  text-transform: uppercase;
  padding: 12px 20px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-style: italic;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.68);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.68);
  display: inline-block;
  vertical-align: middle; }
  .button:hover, .button:focus, .button:active {
    background-color: #01A5CA;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 0px 1px black; }
  .button .fa {
    vertical-align: middle; }

.button-pagination-before,
.button-pagination-after,
.button-productCat {
  -webkit-transition: width 0.5s ease-out 0.5s;
  transition: width 0.5s ease-out 0.5s;
  font-size: 12px;
  padding: 6px 12px;
  text-transform: none; }
  .button-pagination-before .fa,
  .button-pagination-after .fa,
  .button-productCat .fa {
    width: 0;
    overflow: hidden;
    -webkit-transition: width ease-out 0.3s;
    transition: width ease-out 0.3s; }

.button-pagination-before:hover .fa,
.button-pagination-before:focus .fa,
.button-pagination-before:active .fa,
.button-pagination-after:hover .fa,
.button-pagination-after:focus .fa,
.button-pagination-after:active .fa,
.button-productCat:hover .fa,
.button-productCat:focus .fa,
.button-productCat:active .fa {
  width: 15px; }

.button-pagination-before:hover .fa,
.button-pagination-before:focus .fa,
.button-pagination-before:active .fa {
  padding-right: 5px; }

.button-pagination-after:hover .fa,
.button-pagination-after:focus .fa,
.button-pagination-after:active .fa,
.button-productCat:hover .fa,
.button-productCat:focus .fa,
.button-productCat:active .fa {
  padding-left: 5px; }

.button-productCat {
  font-style: normal; }

.category-link {
  background: url("../images/cat.jpg") 0 2px no-repeat;
  padding: 5px 0 5px 25px;
  color: #aaa;
  text-decoration: none;
  font: italic 12px/22px  "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
  .category-link:hover, .category-link:focus, .category-link:active {
    color: #01719f;
    text-decoration: none; }

.separator {
  margin: 30px 0;
  height: 6px;
  width: 100%;
  background: #ccc url("../images/separator.jpg") repeat-x; }

.separator-slim {
  height: 1px;
  width: 100%;
  background: url("../images/separator_slim.jpg") repeat-x;
  margin: 30px 0; }

.banner img {
  float: right;
  width: 100%;
  height: auto;
  max-width: 249px; }

.thumbnail-img img {
  max-width: 280px;
  width: 100%;
  height: auto; }

.thumbnail-post h3 {
  margin: 0 0 10px 0; }
  .thumbnail-post h3 a {
    color: #000;
    font: italic 25px  'Lucida Grande', sans-serif;
    font-weight: bold; }
    .thumbnail-post h3 a:hover, .thumbnail-post h3 a:active, .thumbnail-post h3 a:focus {
      text-decoration: none;
      color: #00b7d8; }

.thumbnail-post-text {
  font: 12px/18px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #737373;
  font-style: italic; }

.thumbnail-pagination {
  display: inline-block; }

.center {
  margin: 0 auto;
  text-align: center; }

.button-pagination-before,
.pagination-pages,
.button-pagination-after {
  float: left;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.button-pagination-before {
  margin-right: 4px; }

.button-pagination-after {
  margin-left: 4px; }

.pagination-pages {
  font-size: 14px;
  font-style: normal; }
  .pagination-pages li {
    float: left;
    display: inline-block;
    vertical-align: middle; }
    .pagination-pages li a {
      color: #b5b5b5;
      border: 1px solid #b5b5b5;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      padding: 5px 9px;
      margin: 0px 4px;
      display: inline-block;
      vertical-align: middle; }
      .pagination-pages li a:hover, .pagination-pages li a:focus, .pagination-pages li a:active {
        text-decoration: none;
        color: #222b31;
        border: 1px solid #222b31; }
    .pagination-pages li .active {
      text-decoration: none;
      color: #222b31;
      border: 1px solid #222b31; }

.footer {
  color: #fff;
  margin-bottom: 30px; }

.footer-top {
  background-color: #028FBA; }
  .footer-top p {
    margin: 10px 0 0 0; }

.sidebar-header {
  font: 16px 'TitilliumText22LMedium', sans-serif;
  font-weight: bold;
  font-style: italic; }

.sidebar-text {
  font: 12px/15px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif, italic; }

.sidebar-links {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0; }
  .sidebar-links .fa {
    display: none;
    color: #fff; }
  .sidebar-links li {
    margin-top: 10px; }
    .sidebar-links li a {
      color: #1cc4da;
      font: italic 12px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }
      .sidebar-links li a:hover, .sidebar-links li a:focus, .sidebar-links li a:active {
        text-decoration: none; }
  .sidebar-links li.active a {
    border-bottom: 4px solid #ffe404; }

.sidebar-links a:hover .fa,
.sidebar-links a:focus .fa,
.sidebar-links a:active .fa,
.sidebar-links .active .fa {
  display: inline-block;
  padding: 0 5px; }

.footer-bottom {
  background-color: #005779;
  font-weight: bold;
  font-style: normal;
  color: #4d89a1;
  font-size: 13px;
  padding: 30px; }
  .footer-bottom p {
    margin: 0; }

.breadcrumbs {
  margin: 15px 0;
  color: #b3deea;
  font: 11px 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; }
  .breadcrumbs .fa {
    margin: 0 5px; }

.home-breadcrumb {
  padding-left: 23px;
  background: url("../images/home_icon.png") no-repeat left top; }

.home-breadcrumb,
.category-breadcrumb {
  color: #00597f; }

.content-top-header,
.product-content-top-header {
  background: #03b0d0 -webkit-gradient(linear, left top, right top, from(#0098ba), color-stop(50%, #04b9d6), to(#0098ba));
  background: #03b0d0 -webkit-linear-gradient(left, #0098ba 0%, #04b9d6 50%, #0098ba 100%);
  background: #03b0d0 linear-gradient(to right, #0098ba 0%, #04b9d6 50%, #0098ba 100%);
  margin: -20px -25px 0px;
  padding: 20px 25px; }
  .content-top-header h1,
  .product-content-top-header h1 {
    margin: 0;
    font: 40px 'TitilliumText22LMedium', sans-serif;
    color: #ffffff;
    font-weight: bold; }

.page-content {
  margin-top: 30px;
  font-style: normal;
  font-size: 25px;
  font-weight: bold; }

.page-content-header {
  color: #10b9da;
  font-style: italic;
  font-size: 36px; }
  .page-content-header span {
    color: #ff0; }

.page-content-text {
  color: #10b9da; }

.page-content-text.dark {
  color: #333;
  margin: 20px 0 0; }

.product-content-top-header h2 {
  margin: 0;
  font: 40px 'TitilliumText22LMedium', sans-serif;
  color: #ffffff;
  font-weight: bold;
  font-style: italic; }

.product-content {
  margin-top: 30px; }
  .product-content h1 {
    margin: 0;
    font: 36px 'Lucida Grande', sans-serif;
    font-style: italic;
    font-weight: bold; }
  .product-content p {
    font: 12px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0; }

.blue-text {
  color: #36f;
  margin: 10px 0 20px; }

.images-gallery a:hover,
.images-gallery a:active,
.images-gallery a:focus {
  text-decoration: none;
  outline: none; }

.images-gallery img {
  max-width: 200px; }

p.first-paragraph {
  margin-top: 10px; }

.images-gallery {
  margin: 10px 0; }

.product-content-list {
  color: #ccc;
  margin: 10px 0;
  padding: 0 0 0 20px; }
  .product-content-list li {
    color: #525050;
    font: 12px/15px "Lucida Sans Unicode", "Lucida Grande", sans-serif; }

.category-content {
  margin-top: 30px; }

@media screen and (max-width: 991px) {
  .info-text {
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
    font-size: 14px; }
  .info-button {
    text-align: center;
    float: none; } }

@media screen and (max-width: 767px) {
  .banner img {
    float: none; }
  .banner {
    text-align: center;
    margin-top: 30px; }
  .thumbnail-post h3 {
    margin-top: 10px; }
  .product-content img {
    max-width: 336px;
    width: 100%;
    height: auto; }
  .product-content .banner img {
    max-width: 249px; }
  .breadcrumbs {
    margin-top: 50px; } }

@media only screen and (max-width: 479px) {
  .logo {
    display: none; }
  .button-pagination-before,
  .button-pagination-after,
  .pagination-pages {
    float: none;
    text-align: center;
    margin-bottom: 10px; }
  .page-content {
    font-size: 14px; }
  .page-content-header {
    font-size: 25px; }
  .breadcrumbs {
    margin-top: 30px; } }
